@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic,cyrillic-ext');


body {
  font-family: 'Open Sans';
  padding-bottom: 20px;
}

.container.home {
  margin-top: 50px;
}

.container.home h1 {
  margin-bottom: 30px;
}

.container.home table {
  font-size: 16px;
}

.top-panel {
  margin-bottom: 30px;
}

#firm_copy_table {
  display: none;
}

.x-grid3-row-over .x-grid3-cell-inner {
  font-weight: bold;
}

.x-grid-cell-inner {
  overflow: hidden;
  padding: 0px 0px !important;
  white-space: nowrap;
  font-size: 10.5px;
}

.x-column-header-inner {
  zoom: 1;
  white-space: nowrap;
  padding: 3px 0px 0px 0px !important;
  position: relative;
}

.blue {
  color: #333399 !important;
}

.red {
  color: #cc3300 !important;
  background-color: #f8f1ef;
}

.Estilo_Premium {
  background: #f5f6ce;
  border: 1px solid #ffb54d;
  width: 30%;
  margin: 0 auto;
  font-size: 11px;
  height: 50px;
}

#premium {
    text-align: center;
    margin: 6px;
    font-size: 11px;
}

.x-column-header{
  height: 33px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#panel-1015-innerCt{
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
#panel-1015-innerCt .x-panel .x-panel-body .x-form-layout-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
#panel-1016-formTable .x-field{
  width: 100% !important;
  border: none !important;
}

#form-1014-innerCt {
  width: 100%;
  display: flex !important;
  flex-direction: column;
}

#form-1014-innerCt {
  width: 100%;
  display: flex !important;
  flex-direction: column;
}

#form-1014-innerCt .x-panel, #form-1014-innerCt .x-panel .x-panel-body{
  height: auto !important;
}

#panel-1019-innerCt {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* reloj */

#clock-inputRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock-labelCell {
  width: 25%;
}
#clock-inputEl {
  width: 55% !important;
}

/* last form row */
.btn-n-txt .x-panel-body .x-form-layout-table{
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
